body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

#product-overview {
  background-color: #ff1b68;
  padding: 20px;
  border: 5px black solid;
  margin: 20px;
}

/* Inheritance */
.section-title {
  color: #2df52d;
  font-family: inherit;
}

/* Combinators */
#product-overview h1 {
  color: white;
  font-family: fantasy;
}

h1 {
  font-family: sans-serif;
}

.register {
  margin: 30% 50%;
}
