* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

#product-overview {
  background-color: #ff1b68;
  width: 100%;
  height: 500px;
  padding: 10px;
  margin: 10px;
  border: 5px yellow solid;
}

/* Inheritance */
.section-title {
  color: #2df52d;
  font-family: inherit;
}

/* Combinators */
#product-overview h1 {
  color: white;
  font-family: fantasy;
}

h1 {
  font-family: sans-serif;
}

.register {
  margin: 30% 50%;
}
