// Partials

// Sass variable
$main-color : #521751;

// Sass List variable
$border-default : 0.05rem solid $main-color;

// Sass Map variable
$colors : (secondary : #fa923f, backgroundColor : #fae5ff);

$size-default : 1rem;