/* Overview section */
#product-overview {
  background: url("./images/freedom.jpg") left 10% bottom 75% / cover no-repeat
    border-box border-box;
  /* background-image: url("freedom.jpg");
  background-size: cover;
  background-position: left 10% top 60%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  border: 5px dashed red; */

  /* Linear Gradient */
  /* background-image: linear-gradient(
    to right bottom,
    rgb(206, 214, 240),
    transparent,
    rgb(206, 214, 240),
    transparent
  ); */

  /* Radial Gradient */
  /* background-image: radial-gradient(40px 40px at 20% 50%, red, blue, green); */

  width: 100vw;
  height: 65vh;
  padding: 0.625rem;
  position: relative;
}

/* Combinators */
#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

h1 {
  font-family: sans-serif;
}

.register {
  margin: 30% 50%;
}

/* Plans Section */

/* Inheritance */
.section-title {
  color: #2df52d;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
}

/* #plans {
  background-color: rgb(250, 250, 250);
} */

.plan-list {
  width: 90%;
  margin: auto;
  text-align: center;
}

.plan {
  background-color: #d5ffdc;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 100%;
  min-width: 16rem;
}

.plan-highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #2df52d;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan-highlighted .plan__price {
  color: #0e4f1f;
}

.plan-highlighted .plan__title {
  color: white;
}

.plan__features {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.plan__features li {
  margin: 0.5rem 0;
}

/* Features section */

#features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
}

#features .section-title {
  color: white;
  margin: 2rem;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.feature {
  width: 100%;
  vertical-align: top;
}

.feature-image {
  background-color: #ffcede;
  border-radius: 50%;
  border: 2px solid #424242;
  width: 8rem;
  height: 8rem;
  margin: auto;
  padding: 1.25rem;
}

.feature-description {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

/* Modal */
.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/* Mobile First approach. Executed when min-width >= 40rem*/
/* Desktop First approach. Use max-width : 40rem and executed when max-width <= 40rem*/
@media (min-width: 40rem) and (min-height: 40rem) {
  /* Product view section */
  #product-overview {
    background-position: 50% 25%;
    height: 75vh;
  }
  #product-overview h1 {
    font-size: 2rem;
  }

  /* Plans section */
  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 12.5rem;
    max-width: 25rem;
  }
  .plan-list {
    width: 80%;
  }

  /* Features section */
  .feature {
    display: inline-block;
    width: 30%;
    max-width: 25rem;
  }
}
