/* Overview section */
#product-overview {
  background: url("freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
  position: relative;
  margin-top: 43px;
}

/* Combinators */
#product-overview h1 {
  color: white;
  font-family: fantasy;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

h1 {
  font-family: sans-serif;
}

.register {
  margin: 30% 50%;
}

/* Plans Section */

/* Inheritance */
.section-title {
  color: #2df52d;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
}

#plans {
  background-color: rgb(250, 250, 250);
}

.plan-list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  display: inline-block;
  background-color: #d5ffdc;
  margin: 8px;
  padding: 16px;
  width: 30%;
  vertical-align: middle;
}

.plan-highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #2df52d;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan-highlighted .plan__price {
  color: #0e4f1f;
}

.plan-highlighted .plan__title {
  color: white;
}

.plan__features {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.plan__features li {
  margin: 8px 0;
}

/* Features section */

#features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
  text-align: center;
}

#features .section-title {
  color: white;
  margin: 32px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.feature-image {
  background-color: #ffcede;
  border-radius: 50%;
  border: 2px solid #424242;
  width: 128px;
  height: 128px;
  margin: auto;
}

.feature-description {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
