.layout {
  font-size: 3rem;
  display: grid;
  grid-template-columns: 100%;
}

.header,
.sidebar,
.main-content,
.footer {
  background-color: grey;
  margin: 0.5rem;
  text-align: center;
}

.header {
  height: 8vh;
}

.content {
  height: 80vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}

.sidebar,
.main-content {
  padding: 14rem 0;
}

.footer {
  height: 8vh;
}
